/* stuff for JavaScript Below: */
.notFound{
    grid-template-columns: 1fr!important;
    color: goldenrod;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}


.showRecipe{
    display: block;
}

.mealContent{
    margin: 36px;

}

.mealContent p:not(.mealType){
    padding: 15px;
}

/* Vanilla CSS BELOW */



*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;


}

:root {
    background-color: darkgrey;
}

body{
    font-size: 12px;
    line-height: 1.6px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

button{
    cursor: pointer;
    outline: none;
    font-size: 12px;
    padding: 0;
}

.header {
    font-size: 28px;
    margin-bottom: 10px;
}

.container{
    min-height: 150vh;
}

.meal{
    max-width: 1300px;
    padding: 10px;
    margin: auto;
    background: white;
    text-align: center;
}

.search{
    margin: 36px
}

.search cite{
    font-size: 12px;
}

.mealBox{
    margin: 20px;
    display:flex;
    align-items: stretch;
}

.searchBar{
    padding: 10px;
    margin: 0;
    width: 100%;
    border-radius: 100px;
}

.searchButton{
    background-color: goldenrod;
    border-radius: 100px;
    color: white;
}

.searchButton:hover{
    background: white;
    color: goldenrod;
}

.Result{
    margin: 10px 0 0 0;
}

.mealItem{
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 10px 25px;
}

.mealImage img{
    width: 100%;
    display: block;
    border-radius: 100px;
}

.nameMeal, h4{
    font-size: 18px;
}

.recipeButton{
    text-decoration: none;
    color: white;
    background: goldenrod;
    display: block;
    width: 180px;
    margin: 16px auto;
    border-radius: 100px;
}

.recipeButton:hover{
    background: white;
    color: goldenrod;
}

.videoLink{
    text-decoration: none;
    margin: 25px 0;
    font-size: 30px;
    color: white;
    
}
.mealDescription{
    display: none;
    overflow-y: scroll;
    border-radius: 100px;
    border: 10px solid white;
    color: white;
    background: goldenrod;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
}

.mealDescription :active{
    display: block;
}

.closeButton {
    font-size: 25px;
    background: white;
    color: black;
    margin: 0;
    position: relative;
    left: 40%;
}

.mealType{
    font-size: 20px;
    padding-bottom: 50px;
}

.recipeDirection{
    padding: 20px 0;
}

.recipeImage img{
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

@media screen and (min-width: 768px){
    #recipes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }
}
